.mainText {
    font-family: Verdana;
    font-size: 50px;
    color:white;
    text-align: center;
    font-weight: normal;
}

#midText {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

body {
    background-color: black;
    text-align: center;
}

h2 {
    color: aquamarine;
    font-family: Verdana;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    font-weight: normal;
}

p {
    font-family: Verdana;
    color: grey;
    font-size: 21px;
}